#nav_gap {
  padding-bottom: 7rem;
}

//   flipper css

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

// base
.flip {
  position: relative;
  > .front,
  > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.9s;
    transition-property: transform, opacity;
  }
  > .front {
    transform: rotateY(0deg);
  }
  > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  &:hover {
    > .front {
      transform: rotateY(180deg);
    }
    > .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
}

// custom
.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
  > .front,
  > .back {
    display: block;
    color: lighten($color: #2f3b2ff5, $amount: 90);
    width: inherit;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 220px;
    padding: 1em 2em;
    //   box-shadow: 1px 2px 4px 1px grey;
    background: rgb(232, 242, 250);
    border-radius: 10px;
    p {
      font-size: 0.9125rem;
      line-height: 160%;
      color: #999;
    }
  }
  .back {
    background: #413543;
  }
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
    3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
    0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
    9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
    11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
    13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
    0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
    17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
    19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

// Controls css cards and button animation
.content-sign-in {
  text-align: center;
  margin: 2rem auto;
  width: 48rem;
}

.reading {
  font-size: 1.4rem;
}

.card-title {
  font-size: 1.2rem;
  color: #034078;
}

.state {
  color: #1282a2;
}

/* button CSS */
.status-button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;

  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.status-button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.status-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.status-button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.myChart {
  box-sizing: border-box;
  height: auto;
  width: auto;
}
//Graph selection
$bg: #332f35;
$fg: lighten($bg, 20%);
$borderWidth: 3px;
.radio-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;

  input[type="radio"] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    color: lighten($bg, 40%);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
  }

  input[type="radio"]:checked + label {
    color: lighten($bg, 60%);
    background: $fg;
  }

  label + input[type="radio"] + label {
    border-left: solid $borderWidth $fg;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

.sm-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

@media only screen and (max-width: 550px) {
  #carouselCaptions {
    display: none;
  }
  .sm-row {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
  }
  .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 90%;
    > .front,
    > .back {
      display: block;
      color: lighten($color: #2f3b2ff5, $amount: 90);
      width: inherit;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      height: 250px;
      padding: 1em 2em;
      //   box-shadow: 1px 2px 4px 1px grey;
      background: rgb(232, 242, 250);
      border-radius: 10px;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
    }
    .back {
      background: #413543;
    }
  }
  #master {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin-bottom: 10px;
  }
  .controls-sec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10px;
  }

  .radio-group {
    font-size: small;
    display: grid;
    width: max-content;
    margin: 5px;
  }
  #today_data {
    font-size: larger;
  }
  thead {
    font-size: small;
    align-items: top;
  }
  tbody {
    font-size: smaller;
  }
  .myChart {
    font-size: smaller;
    box-sizing: border-box;
    height: auto;
    width: auto;
  }
}
